*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand' , sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.50rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
h2{
   font-size: 60px;
}
.navbar{
  width: 85%;
  margin:auto;
  padding: 35px 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/bg.jpg); ;
  background-size:cover;
  background-position: center;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform:capitalize;
}
.navbar ul li::after{
  content: " ";
  height: 3px;
  width: 0%;
  background:#009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition:0.5s;
}
.navbar ul li:hover::after{
  width:100%;
}
img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10%;
}
.wrapper{
  margin:20px 0;
  padding-left: 50px;
  margin: 50px;
}
.wrapper .cards_wrap{
  display: flex;
  flex-wrap: wrap;
  
}
.cards_wrap .card_item{
  width: 25%;
  padding: 10px;
}
.cards_wrap .card_inner{
  background: #fff;
  border-radius: 10% 10% 10% 10%;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  min-height:550px;
}
.cards_wrap .card_top{
  max-width: 100%;
  height:auto;
  padding: 10px;
}
.cards_wrap .card_bottom{
  padding: 15px;
}
.cards_wrap .card_bottom .card_category{
  text-transform: 15px;
  text-align: center;
}
.cards_wrap .card_bottom .card_info{
  padding: 15px;
  margin: 10px 0;
  border: 1px dashed #0071bc;
}
.cards_wrap .card_bottom .card_info .title {
  color: #0071bc;
  font-size: 18px;
  margin-bottom: 5px;
}

.cards_wrap .card_bottom .card_creator {
  text-align: center;
}

@media (max-width: 1024px) {
  .cards_wrap .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
  .cards_wrap .card_top {
    height: auto;
  }
  .cards_wrap .card_item {
    width: 100%;
  }
}
