*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand' , sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  cursor: pointer;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.50rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
h2{
   font-size: 60px;
}
.navbar{
  width: 85%;
  margin:auto;
  padding: 35px 0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/tig.png); 
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.logo{
  width: 120px;
  cursor: pointer;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform:capitalize;
}
.navbar ul li::after{
  content: " ";
  height: 3px;
  width: 0%;
  background:#009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition:0.5s;
}
.navbar ul li:hover::after{
  width:100%;
}
.text-box{

  margin-top: 15%;
  font-size:17px;
  letter-spacing: 1;
font-family: 'arvo',serif;
}

.text-box h1{

  font-size: 75px;
  line-height:160px;
  font-family: 'arvo', serif;
color:#fff;
text-align: center;
margin: auto;
}
.text-box p{
  text-decoration: none;
  font-family: 'arvo',serif;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin:auto;
}

.auto-input{
font-family: 'arvo',sans-serif;
text-decoration: none;}
.user-img{
  width: 540px;
  position: absolute;
  right:8%;
  bottom: 0;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px ;
  margin:20px 10px;
  border: 2px solid #009688;
  display: block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-family: 'arvo',serif;
  background: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  left: 42%;
}

button:hover span.ty{
  width: 100%;
}
button:hover{
  border: 2px solid #fff724;
  transition: 1s;
}
body{
	background: #1abc9c;
}

.container{
	top: 50%;
	left: 50%;
	position: absolute;
}

.circle{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	animation: 2s spin linear infinite;
}

.circle:nth-child(2){
	animation-delay: .2s;
}
	.circle:nth-child(3){
	animation-delay: .4s;
}


@keyframes spin{
	0%{
		transform-origin: 300% 50%;
		transform: rotate(0deg);
	}

	50%{
		transform-origin: 300% 50%;
		transform: rotate(360deg);
	}

	50.1%{
		transform-origin: -300% 50%;
		transform: rotate(360deg);
	}

	100%{
		transform-origin:-300% 50%;
		transform: rotate(0deg);
	}
}
